<div class="card text-center">
    <div class="card-header">
        ارتباط با ما
    </div>
    <div class="card-body">
        <h5 class="card-title">09353090443 <span>مهندس مستقیمی</span></h5>
        <h5 class="card-title">09033671408 <span>مهندس جمشیدی</span></h5>
        <p class="card-text">توسعه و طراحی توسط مهندس مستفیمی و جمشیدی و فتحی</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    <div class="card-footer text-body-secondary">
    </div>
</div>