{% load static %}
<ul class="nav bg-light p-3 shadow-sm">

    <li class="nav-item me-auto p-0">
        <a class="nav-link" href="{% url 'home:home' %}">
            <img class="p-0 m-0" src="{% static 'images/logo.png' %}" alt="لوگو"  width="50" height="50">
        </a>
    </li>

    {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link active text-primary fw-bold" aria-current="page" href="{% url 'home:home' %}">خانه</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-primary fw-bold" aria-current="page" href="{% url 'logs:logs' %}">گزارش</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-primary fw-bold" aria-current="page" href="{% url 'rule:show_rule' %}">قوانین</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active text-primary fw-bold" aria-current="page" href="{% url 'tag:tag' %}">خودروها</a>
        </li>
        {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link active text-primary fw-bold" aria-current="page" href="{% url 'setting:setting' %}">تنظیمات</a>
            </li>
        {% endif %}
        <li class="nav-item">
            <a class="btn btn-primary fw-bold text-white" href="{% url 'account:account-logout' %}">خروج</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="btn btn-primary fw-bold text-white" href="{% url 'account:account-login' %}">ورود</a>
        </li>
    {% endif %}
</ul>   