{% extends 'base.html' %}
{% load static %}

{% block title %}
    خانه
{% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'setting/css/bootstrap-icons.css' %}">
{% endblock %}
{% block content %}
    <div class="">
        <div class="car_list" id="tagList">
        </div>
    </div>
{% endblock %}

{% block js %}
<script src="/home/templates/home/style/bootstrap.bundle.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tagList = document.getElementById('tagList')
        function loadCarList() {
            fetch('/sowh-log-home/')
                .then(res => res.json())
                .then(data => {
                    tagList.innerHTML = data.html;
                }).catch(err => {
                    tagList.innerHTML = "<p>❌ خطا در بارگذاری لیست خودروها</p>";
                    console.error("Error loading car list:", err);
                });
        }

        loadCarList();
        window.loadCarList = loadCarList;
        
    })

    setInterval(() => {
            console.log('reload car list home');
            window.loadCarList()
        }, 2000)
</script>
{% endblock %}
