<div class="container-fluid px-4">
    <div id="car-list" class="w-100">

        <div class="bg-white p-4 rounded shadow">
            <div class="d-flex justify-content-between align-items-center flex-row-revers    mb-3">
                <h5 class="mb-0"> تگ های مدیریت</h5>
            </div>

            <table class="table table-bordered table-striped text-center align-middle w-100">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">تاریخ</th>
                        <th scope="col">نام خودرو</th>
                        <th scope="col">نام مالک</th>
                        <th scope="col">پلاک خودرو</th>
                        <th scope="col">شماره واحد</th>
                        <th scope="col">درب</th>
                        <th scope="col"> قانون </th>
                        <th scope="col">وضعیت</th>
                        <th scope="col">عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">هیچ تگی یافت نشد.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>