<div class="container-fluid px-4">
    <div id="car-list" class="w-100">

        <div class="bg-white p-4 rounded shadow">
            <div class="d-flex justify-content-between align-items-center flex-row-revers    mb-3">
                <h5 class="mb-0"> تگ های مدیریت</h5>
                <div class="search-form">
                    <form action="" method="get" id="searchForm">
                        <div class="input-group">
                            {{ form.search }}
                            <button type="submit" class="btn btn-primary">جستجو</button>
                        </div>
                    </form>
                </div>
            </div>

            <table class="table table-bordered table-striped text-center align-middle w-100">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">تاریخ</th>
                        <th scope="col">نام مالک</th>
                        <th scope="col">پلاک خودرو</th>
                        <th scope="col">شماره واحد</th>
                        <th scope="col">درب</th>
                        <th scope="col"> قانون </th>
                        <th scope="col">وضعیت</th>
                        <th scope="col"> تگ شماره</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                    <tr>
                        <td>{{ log.create_at|date:"Y-m-d H:i" }}</td>
                        <td>{{ log.owner_name }}</td>
                        <td>{{ log.car_name }}</td>
                        <td>{{ log.unit_number }}</td>
                        <td>{{ log.door }}</td>
                        <td>{{ log.rule }}</td>
                        <td>
                            {% if log.status == 'noactive' %}
                                <span style="color: red; font-weight: bold;">
                                    <i class="bi bi-x-circle-fill"></i>
                                    تگ غیرفعال
                                </span>
                            {% elif log.status == 'traffic' %}
                                
                                <span style="color: orange; font-weight: bold;">
                                    <i class="bi bi-exclamation-triangle-fill"></i>
                                    درب اشتباهی
                                </span>
                            {% elif log.status == 'successful' %}

                                <span style="color: green; font-weight: bold;">
                                    <i class="bi bi-check-circle-fill"></i>
                                    موفق
                                </span>
                            {% endif %}
                        </td>
                        
                        <td>{{ log.tag_number }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8">هیچ تگی یافت نشد.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-3">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a data-url="{% url 'logs:show_logs' %}?page={{ page_obj.previous_page_number }}"
                class="page-link pagination-link" href="?page={{ page_obj.previous_page_number }}">قبلی</a>
        </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}</span>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a data-url="{% url 'logs:show_logs' %}?page={{ page_obj.next_page_number }}"
                class="page-link pagination-link" href="?page={{ page_obj.next_page_number }}">بعدی</a>
        </li>
        {% endif %}
    </ul>
</nav> -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-3">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a data-url="{% url 'logs:show_logs' %}?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                class="page-link pagination-link"
                href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">قبلی</a>
        </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}</span>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a data-url="{% url 'logs:show_logs' %}?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"
                class="page-link pagination-link"
                href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">بعدی</a>
        </li>
        {% endif %}
    </ul>
</nav>