<div class="mb-3">
    <h5>uid</h5>
    {{ form.uid }}
    {% for error in form.uid.errors %}
    <div class="text-danger">{{ error }}</div>
    {% endfor %}
</div>
<div class="mb-3">
    <h5>نام مالک</h5>
    {{ form.owner_name }}
    {% for error in form.owner_name.errors %}
    <div class="text-danger">{{ error }}</div>
    {% endfor %}
</div>
<div class="mb-3">
    <h5>پلاک خودرو</h5>
    {{ form.car_name }}
    {% for error in form.car_name.errors %}
    <div class="text-danger">{{ error }}</div>
    {% endfor %}
</div>
<div class="mb-3">
    <h5>مجتمع</h5>
    {{ form.pelicula }}
    {% for error in form.pelicula.errors %}
    <div class="text-danger">{{ error }}</div>
    {% endfor %}
</div>
<div class="mb-3">
    <h6>واحد</h6>
    {{ form.number_unit }}
    {% for error in form.number_unit.errors %}
    <div class="text-danger">{{ error }}</div>
    {% endfor %}
</div>
<div class="mb-3">
    <h6> قانون </h6>
    {{ form.rule }}
    {% for error in form.rule.errors %}
    <div class="text-danger">{{ error }}</div>
    {% endfor %}
</div>
<div class="mb-3 d-flex">
    <h6>فعال</h6> &nbsp; &nbsp;
    {{ form.is_active }}
    {% for error in form.is_active.errors %}
    <div class="text-danger">{{ error }}</div>
    {% endfor %}
</div>


<!-- <h1> loded by list </h1> -->